<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo L('layout.sys_title')?></title>
<style>
.line{
text-align:center;
margin-top:10px;
}
</style>
</head>
<body>
  <div class="line" style="color: #6699FF;"><strong>{title}</strong></div>
  <div class="line"><a href="{url}" target="_blank">{msg}</a></div>
  <div class="line">(<?php echo L('bug.open_link_tips')?>)</div>
  <div class="line">{url}</div>
</body>
</html>
